.Dialog {
  border: 1px solid black;
  width: 320px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ecf486;
}

.DialogBody {
  display: flex;
}

.DialogImage {
  width: 170px;
}

.DialogMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
