body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;

  /* CSS 중첩 규칙(Nesting Rules) */
  & * {
    box-sizing: inherit;
  }
}

h1 {
  font-size: 50px;
  font-weight: 900;
  margin: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
