@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  box-sizing: border-box;
  margin: 0;
  font:
    1rem/1.5 'SUIT Variable',
    sans-serif;
  color: white;

  /* CSS 중첩 규칙(Nesting Rules) */
  & * {
    box-sizing: inherit;
  }
}

header {
  box-shadow: 1px 16px 45px -14px rgba(100, 100, 100, 0.234);
}
